@use '@douyinfe/semi-theme-default/scss/index.scss' as semi;

.layout {
  height: 100%;
}

.sider {
  height: 100%;
  background-color: var(--semi-color-tertiary-light-default);
}

.main {
  height: 100%;
}

.container {
  padding: semi.$spacing-base;
}
